.row
  .col-sm-12.col-md-8
    %h1 Anmeldung erforderlich
    .loginBox
      = link_to 'Login mit GitHub', user_github_omniauth_authorize_path,
        class: 'loginButton btn btn-lg btn-primary', data: { role: 'button' }
.row
  .col-sm-12.col-md-8
    %p
      Das Passwort kann unter
      = link_to 'netz.gruene.de', 'https://netz.gruene.de'
      zurückgesetzt werden. Falls du deine Anmeldedaten nicht (mehr) kennst, schreibe eine Mail an netz@gruene.de
